<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="clients">
    <table class="table table-bordered table-hover horizontal-align">
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 20%">Login</th>
            <th style="width: 20%">Password</th>
            <th style="width: 20%">Name</th>
            <th style="width: 20%">Surname</th>
            <th style="width: 20%">RoleID</th>
            <th style="width: 20%">Money</th>
            <th class="dropdown" style="width: 20%">Date
                <a th:href="@{'/sort/{sortDate}' (sortDate = 'ASC')}"><i class="fa fa-chevron-circle-up"></i></a>
                <a th:href="@{'/sort/{sortDate}' (sortDate = 'DESC')}"><i class="fa fa-chevron-circle-down"></i></a>
            </th>
            <th style="width: 5%">Edit</th>
            <th style="width: 5%">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clients_th}">
            <td th:text="${client.id}" style="text-align: center">#</td>
            <td th:text="${client.login}">Login</td>
            <td th:text="${client.password}">Password</td>
            <td th:text="${client.name}">Name</td>
            <td th:text="${client.surname}">Surname</td>
            <td th:text="${client.roleId}">RoleID</td>
            <td th:text="${client.money}">Money</td>
            <td th:text="${#dates.format(client.date, 'EEE, d MMM yyyy HH:mm')}" style="text-align: center">Date</td>
            <td style="text-align: center"><a th:href="@{'/edit/{id}'(id=${client.id})}"><i class="fa fa-edit" style="font-size:20px"></i></a></td>
            <td style="text-align: center"><a th:href="@{'/delete/{id}'(id=${client.id})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>